go 1.25.7

use (
	./services/bank-account-service
	./services/bff-service
	./services/ekyc-service
	./services/otp-service
	./services/paotang-service
	./services/sms-service
	./services/transfer-service
	./services/user-service
)
